@page "/HeatMap"
@using ST.Blazor.Leaflet.Models
@inject IJSRuntime JsRuntime
<h3>Heatmap</h3>

<div style="height: 500px; width: 500px;">
	<LeafletMap Map="_map"/>
</div>

@code
{
	private Map? _map;

	protected override void OnInitialized()
	{
		_map = new Map(JsRuntime)
		{
			Center = _startCenter,
			Zoom = 8.8f
		};

		_map.OnInitialized += async () =>
		{
			_map.AddLayer(new TileLayer
			{
				UrlTemplate = "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png",
				Attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
			});

			var randomHeatMap = Enumerable.Range(0, 1000)
				.Select(t => new HeatmapLatLng(
					lat: _startCenter.Lat + NextRandomFloat(),
					lng: _startCenter.Lng + NextRandomFloat(),
					intensity: (t % 100 == 0 ? 1f : .4f)));

			_map.AddLayer(new HeatmapLayer(randomHeatMap)
			{
				Gradient = new GradientPart[] { new(0.4, "green"), new(0.65, "yellow"), new(0.9, "red") },
				Blur = 5,
				Radius = 5
			});
		};
		_map.OnBoundsChanged += (s, e) => this.StateHasChanged();
	}

	private static float NextRandomFloat() => (float)(Random.Shared.NextDouble() - 0.5);

	private LatLng _startCenter = new LatLng(43.21f, 10.01f);


}